<div class="comment border mt-3 w-50 border-info rounded ml-auto mr-auto mh-25 overflow-auto" data-username="{{user.username}}" id="{{id}}">
    <header class="h5 text-info text-dark">{{text}}</header>
    <footer class="username text-right text-muted">{{user.username}} - {{created_at}}</footer>
</div>