<div id="post{{id}}" class="border mt-3 w-50 border-info rounded ml-auto mr-auto mh-25 overflow-auto">
    <header class="h2 text-info">{{onePost.title}}</header>
    <div class="card-body">
        <h4 class="text-left text-primary">{{onePost.content}}</h4>
    </div>
    {{!-- If user is logged in, post's created_at timestamp is retrieved and rendered --}}
    <footer class="text-right">Posted by {{onePost.user.username}} - {{onePost.created_at}}</footer>
</div>